params {
    canonical_user_id = "<canonical_user_id>"
    sentieon_license = "aws-omics.sentieon.com:9011"
    sentieon_docker = "<account>.dkr.ecr.<region>.amazonaws.com/sentieon:omics"
}

process {
    publishDir = '/mnt/workflow/pubdir'
    withLabel: 'sentieon' {
        container = params.sentieon_docker
    }
}
